<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:task="http://www.springframework.org/schema/task"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx.xsd
    http://www.springframework.org/schema/task
    http://www.springframework.org/schema/task/spring-task-3.0.xsd" 
    default-autowire="byName">
    
    
    <bean id="gs-cloudwatch-mde" class="com.boundless.ps.cloudwatch.aws.MetricDatumEncoder"/>
    
    <bean id="gs-cloudwatch-cs" class="com.boundless.ps.cloudwatch.aws.CloudwatchSender">
        <property name="providers">
            <list>
                <ref bean="gs-cloudwatch-jmx"/>
                <ref bean="gs-cloudwatch-mmp"/>
            </list>
        </property>
    </bean>
    
    
    <!-- metric providers -->
    
    <bean id="gs-cloudwatch-jmx" class="com.boundless.ps.cloudwatch.metrics.JmxSystemMonitor">
        <property name="encoder" ref="gs-cloudwatch-mde"/>
    </bean>
    <bean id="gs-cloudwatch-mmp" class="com.boundless.ps.cloudwatch.metrics.MonitorMetricProvider">
        <property name="encoder" ref="gs-cloudwatch-mde"/>
     </bean>
    
  

  <task:executor id="executor" pool-size="5"/>
  <task:scheduler id="scheduler" pool-size="5"/>
  
  <task:scheduled-tasks>
      <task:scheduled ref="gs-cloudwatch-cs" method="sendAllMetrics" fixed-delay="10000" />
  </task:scheduled-tasks>
                

    
    
</beans>